/* Card */
.site-container {
    padding: 1.5em;
}

.card {
    padding: 35px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);

    display: flex; 
    flex-wrap: wrap;
    gap: 35px;
}

.left-content { flex: 1 1 calc(65% - 17.5px); }
.right-content { flex: 1 1 calc(35% - 17.5px); }

@media (max-width: 768px) { 
  .left-content, 
  .right-content { 
    flex: 1 1 100%; 
  } 
  .right-content { order: -1; }
}

.row-obFunc{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;    
}

strong{
    font-size: 25px;
    margin-right: 10px;
}

/* INPUT:TEXT */
.row-Container{
    display: flex;
    padding: .5rem 0;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .input-container {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    position: relative;
    flex: 0 0 auto;
    padding-right: 2px;
  }
  
  .inputNumber {
    padding: 2px 3px;
    margin-right: 3px;
    color: var(--colo1r-azul-grisaceo-oscuro);
    height: auto;
    width: 65px;
    font-size: 20px;
    letter-spacing: 1px;
    border: 1px solid transparent;
    border-bottom-color: var(--color-gris-claro);
    background-color: var(--color-blanco-suave);
    transition: 0.4s;
    outline: none;
  }
  
  .inputNumber:focus {
    border-bottom-color: var(---color-guinda-claro);
  }
  
  .inputNumber ~ .focus-border:before,
  .inputNumber ~ .focus-border:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-guinda-claro);
    transition: 0.3s;
  }
  .inputNumber ~ .focus-border:after {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }
  .inputNumber ~ .focus-border i:before,
  .inputNumber ~ .focus-border i:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
    background-color: var(--color-guinda-claro);
    transition: 0.4s;
  }
  .inputNumber ~ .focus-border i:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
  }
  .inputNumber:focus ~ .focus-border:before,
  .inputNumber:focus ~ .focus-border:after {
    width: 100%;
    transition: 0.3s;
  }
  .inputNumber:focus ~ .focus-border i:before,
  .inputNumber:focus ~ .focus-border i:after {
    height: 100%;
    transition: 0.4s;
  }
  